<div class="row">
  <div class="container">
    <h2 class="main-header">Thousands of investors are earning great returns from their investments</h2>
  </div>
</div>
<div class="row investment-benefit">
  <div class="col-6">
    <div class="row">
      <div class="col-3">
        <img class="investment-benefit__icon" src="assets/tick_icon.svg" alt="">
      </div>
      <div class="col-8">
        <div class="investment-benefit__header">Invest in prime UK buy-to-let</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="investment-benefit__img" src="assets/house.png" alt="">
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-3">
        <img class="investment-benefit__icon" src="assets/tick_icon.svg" alt="">
      </div>
      <div class="col-8">
        <div class="investment-benefit__header">Access money early with our tracker product</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="investment-benefit__img" src="assets/access_money.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="row investment-benefit">
  <div class="col-6">
    <div class="row">
      <div class="col-3">
        <img class="investment-benefit__icon" src="assets/tick_icon.svg" alt="">
      </div>
      <div class="col-8">
        <div class="investment-benefit__header">Earn interest monthly</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="investment-benefit__img" src="assets/access_money.png" alt="">
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-3">
        <img class="investment-benefit__icon" src="assets/tick_icon.svg" alt="">
      </div>
      <div class="col-8">
        <div class="investment-benefit__header">Inflation busting returns</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="investment-benefit__img" src="assets/house.png" alt="">
      </div>
    </div>
  </div>
</div>
